{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row" style="margin: 0px; padding:0em 2em;">
  <div class="col-lg-3" style="padding: 3em 1em; text-align:center;">
   
  <div class='teacher-settings1' style="background: linear-gradient( to bottom left, rgb(67,71,80), rgb(47,43,42)); 
    padding: 1em; border-radius: 2em; box-shadow: -1em 1em 2em grey ;">
    
    {% if user.is_superuser%}
      <a style="text-decoration: none;" href="{% url 'admin:index' %}">Go to the admin page! </a>
    {% elif user.student %}
      <div style="padding: 1em; padding-bottom: 2em; text-align: center;">
       
       <div>
         <span style="font-size: 1.5em; font-weight: bold; text-shadow: -0.2em 0.2em 0.5em grey;
         background: lightgrey; padding: 0.6em; border-radius: 1em;">
           Student Dashboard</span></div>
           <br><br>
           
      <img style="width: 200px; height: 200px; border-radius: 50%; background-color: white;
      border: 1px solid rgb(73, 73, 73); box-shadow: -1em 1em 2.5em rgb(37,33,32);"
          src="{{user.student.profile_photo.url}}" alt="image">
   
      </div>
      <h5 style="text-align: center; color: rgb(228,232,233); text-shadow: -0.5em 0.5em 0.7em black;
      font-size: 1.3em; letter-spacing:1px; ">Name: {{user.username}}</h5>
      <!-- Start of the options -->
      <div class="teacher-options">
   
     <div class="accordion" >    
       <div class="accordion-item">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
           data-bs-target="#collapseoption1" aria-expanded="false" aria-controls="collapseoption1"
           style="border: 1px solid black;"> 
            My Courses
          </button>
          <div class="collapse" id="collapseoption1" style="width: 16em;">
           <div class="card" style="text-align: center;" >
             <a class="teacher-option-links" href=""> 1. Show my courses</a>
             <a class="teacher-option-links" href=""> 3. Completed courses</a>
           </div>
         </div>
       </div>
   
       <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
          data-bs-target="#collapseoption2" aria-expanded="false" aria-controls="collapseoption2"
          style="border: 1px solid black;">  
             Study Analytics
          </button>
          <div class="collapse" id="collapseoption2" style="width: 16em;">
           <div class="card" >
             <!-- <a class="teacher-option-links" href=""> 1. Show Students</a> -->
             <button class="teacher-option-links" id="showgraphs"> 1. Show Students Graphs</button>
             <button class="teacher-option-links">2. Student Queries </button>
           <!-- <a class="teacher-option-links" href=""> 2. Student Queries</a> -->
           </div>
         </div>
       </div>
   
       <div class="accordion-item">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
         data-bs-target="#collapseoption3" aria-expanded="false" aria-controls="collapseoption3"
         style="border: 1px solid black;"> 
           My Assignments
          </button>
          <div class="collapse" id="collapseoption3" style="width: 16em;">
           <div class="card" >
             <a class="teacher-option-links" href=""> 1. Check for weekly assignments</a>
             <a class="teacher-option-links" href=""> 2. Give tests</a>
           </div>
         </div>
       </div>
   
   
       <div class="accordion-item">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
         data-bs-target="#collapseoption4" aria-expanded="false" aria-controls="collapseoption4"
         style="border: 1px solid black;">
           User Settings
         </button>
         <div class="collapse" id="collapseoption4" style="width: 16em;">
           <div class="card" >
             <a class="teacher-option-links" href=""> 1. Delete User</a>
             <a class="teacher-option-links" href=""> 2. Change password</a>
             <button class="teacher-option-links" onclick="ChangeProfile1()"> 3. Change Profile-Pic</button>
           </div>
         </div>
       </div>
     </div><!--End of accordion items outer div class -->
   
   
      </div>
      <!-- end of the options -->
        <div style="display: flex; justify-content:center;">
         <a style="padding: 0.2em 0.4em; text-decoration: none;" href="">pinterest</a>
         <a style="padding: 0.2em 0.4em; text-decoration: none;" href="">linkedIn</a>
         <a style="padding: 0.2em 0.4em; text-decoration: none;" href="">blog</a>
         <a style="padding: 0.2em 0.4em; text-decoration: none;" href="">portfolio</a>
        </div>
      </div>
    {% endif %}
   <!--Copied part ends here --> 

  
</div> <!-- end of the col-lg-3-->

<div class="col-lg-9">
  <div id="student-content" style="padding:3em 3em;">

  </div>
</div>

</div><!-- end of the row -->




<script src="{% static 'js/boot/bootstrap.min.js' %}"></script>
<script src="{% static 'js/boot/popper.min.js' %}"></script>

<script>
  function ChangeProfile1(){
    var student_display = document.getElementById('student-content');
    student_display.innerHTML = `
       <div> 
        <div style="text-align:center; padding:2em; border: 1px solid black; border-radius: 8px;">
        <h3 style="text-align:center;"> Change the Profile Picture </h3> <hr>
         <form  id="changeformid" method="POST" enctype="multipart/form-data"> 
          {% csrf_token %}
         <div class="mb-3">
          <label for="formimage" class="form-label">Upload the image</label>
          <input class="form-control" type="file" accept="image/*" id="formimage" name="formimage">
         </div>
          <button class="btn btn-dark" type="button" onclick="ChangeProfile2()">Update Picture</button>
         </form>
        </div>
       </div>`;
  }
  function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }

            
 // Get the CSRF token from the cookie 
var csrftoken = getCookie('csrftoken');

  function sendImageDataToServer(imageData) {
    // Make an AJAX request to your Django server endpoint
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{% url 'accounts:updateprofilephoto' %}", true);
    xhr.setRequestHeader('X-CSRFToken', csrftoken);  // Add CSRF token
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log('Server response:', response);
                // Handle the server response as needed
            } else {
                console.error('Failed to upload image. Server returned:', xhr.status, xhr.statusText);
            }
        }
    };

    // Set up the request payload
    var formData = new FormData();
    formData.append('formimage', imageData);
    
    // Send the request
    xhr.send(formData);
}




  
  function ChangeProfile2(){
    alert('pictuer updating')
    var image_field = document.getElementById('formimage');
    var file = image_field.files[0];

    if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imageData = e.target.result;
                console.log('Image data:', imageData);
                sendImageDataToServer(imageData);
            };

            // Read the file as a data URL
            reader.readAsDataURL(file);
        } else {
            alert('No file selected.');
        }
  }
  
</script>


{% endblock content %}