.hello{
    color: red;
}

.cont{
    padding: 3em;
    background-color: rgba(218, 218, 218, 1);
    backdrop-filter: blur(15px);
}


/* Login page styling */

.login_robot{
   position: absolute; 
   height: 17em; 
   bottom: 4em; 
   z-index: -10; 
   left: -2em;
  /* For animation */
  animation-name: moverobot;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite ; 
  /* animation-play-state: running; */
}

@keyframes moverobot {
    0% {
      /* rotate: 0deg; */
      rotate: 0deg;
      transform: translate(3em, 0em);
      /* translate: (1em, 0em); */
      /* animation-play-state: paused; */
    }
    20% {
        rotate: -30deg;
        transform: translate(-4em, 0em);
        /* animation-play-state: running; */
    }
    40%{
        rotate: -30deg;
        transform: translate(-4em, 0em);
    }
    50% {
        rotate: 0deg;
        transform: translate(3em, 0em);
        /* animation-play-state: paused; */
    }
    100% {
        rotate: 0deg;
        transform: translate(3em, 0em);
        /* animation-play-state: paused; */
    }
   
  }


.infomation-div{
    background-color: rgb(249, 249, 249); 
    padding: 2em 2em; 
    border-radius: 1em; 
    box-shadow: 0em 1.5em 3em rgb(196, 159, 204, 0.5);
}

.infomation-div2{
    background-color: rgb(249, 249, 249); 
    padding: 2em 2em; 
    border-radius: 1em; 
    box-shadow: 0em 1.5em 3em rgb(161, 184, 249, 0.8);
}

.info-row{
    padding: 2em 3em; 
    margin: 0px;
}

.img-width{
    width: 30em;
}



/* Styling for phone like interface dimensions */
@media  only screen and (max-width: 600px) and (min-width: 150px){
    .login_robot{
        height: 12em; 
    }

    .info-row{
        padding: 0em;
    }

    .img-width{
        width:22em;
    }

    @keyframes moverobot {
        0% {
          /* rotate: 0deg; */
          rotate: 0deg;
          transform: translate(3em, 0em);
          /* translate: (1em, 0em); */
          /* animation-play-state: paused; */
        }
        20% {
            rotate: -30deg;
            transform: translate(-2em, 0em);
            /* animation-play-state: running; */
        }
        40%{
            rotate: -30deg;
            transform: translate(-2em, 0em);
        }
        50% {
            rotate: 0deg;
            transform: translate(3em, 0em);
            /* animation-play-state: paused; */
        }
        100% {
            rotate: 0deg;
            transform: translate(3em, 0em);
            /* animation-play-state: paused; */
        }   
      }



}


