{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="padding: 2em; padding-bottom: 0em;">
<div style="padding:2em 2em; background: linear-gradient(to top right, rgb(30,30,30),rgb(50,50,50) ); border-radius: 1em; color:white;">
  <div class="row">
    <div class="col-lg-8">

      <h2>Course Name: <span style="font-weight:400;"> {{course.course_name}} </span></h2> 
      <h4> <b>By Instructor: </b> {{ course.made_by_teacher}}</h4>
      <div style="font-size: 1.2em;"><b> Date of creation:</b> {{course.date_generated|date:"l, F j, Y"}} <br>
          <b>Enrolled students: </b> <span style="color: azure;"> {{course.student.count}} </span></div> 
     
      <div class="row">
       <div class="col-lg-12">
         <p style="font-size: 1.2em; color:lightgrey;"><b> Course description: - </b><br>
           <span style="font-weight: 500;"> <i>{{course.course_description}} </i></span> </p>
       </div>
      </div>
      <hr>

    {% if user.teacher.name == course.made_by_teacher.name %}
       {% if course.iscomplete == True %}
           <a class="btn btn-secondary" href="">
            Course Completed  </a>
       {% else %}
           <a class="btn btn-secondary" href="{% url 'courses:coursecompleted' slug=course.slug %}">
            Mark the course as completed  </a>
       {% endif %}


    <div class="btn-group" role="group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Course settings
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="border:1px solid grey;" href="{% url 'courses:updatecourse' slug=course.slug %}">
          1. Update Course</a></li>
        <li><a class="dropdown-item" style="border:1px solid grey;" href="{% url 'courses:deletecourse' slug=course.slug %}">
          2. Delete Course</a></li>
        <li><a class="dropdown-item" style="border:1px solid grey;" href="{% url 'sections:createsection' slug=course.slug %}">
          3. Create Section</a></li>
      </ul>
    </div>
    
    <!-- For students -->
    {% else %}
      {% if user.student and user.is_authenticated %}
          {% if user.student in course.student.all  %}
              <h4>You are a part of this course</h4>
          {% else %}
              <a class="btn btn-dark" href="{% url 'courses:joincourse' slug=course.slug %}"> Start Course </a>
          {% endif %} 
        
      {% endif %}
    {% endif %}

    </div>
    <div class="col-lg-4" style="text-align: center;">
      <img class="course-detail-image"  src="{{course.course_img.url}}" alt="coures-image">
    </div>
  </div>

</div> </div>

{% if user.is_authenticated and user.student %}
     {% if user.student in course.student.all  %} <!-- if user has taken the course -->
     <div class="row" style="margin: 0px; padding:2em;" >
      <div class="col-lg-6" style="background-color: whitesmoke; padding:1em;">
        <h3 style="text-align:center;"> Revision Sections </h3>
        <hr>

        <!-- Start of the sections in recommended -->
        <div style="background-color: lightgrey; padding:0em 1em 1em; border:1px solid black; display: flex;
     justify-content:space-between; align-items: center;">
      <span style="padding: 1em 0em 0em 1em;">
        {{ forloop.counter }}.  {{ section.section_name }} 
        Section 1 (this is recommended)
      </span>
    </div>
    <!-- end of the sections in recommended -->

      </div>
    </div>
     {% endif %}
{% endif %}
<!-- end of the recommended section condition -->





<!-- Start of the normal sections -->
<div class="row" style="margin: 0px; padding:2em;" >
  <div class="col-lg-6" style="background-color: whitesmoke; padding:1em;">
    <h3 style="text-align:center;"> Sections </h3>
  <hr>

{% if user.is_authenticated and user.student %} <!-- if user is authenticated (1)-->
  {% if user.student in course.student.all  %} <!-- if user has taken the course (2)-->
    
  {% for section in available_sections %}
  <a data-bs-toggle="collapse" href="#collapseExample" class="accordion-button"
  aria-expanded="false" aria-controls="collapseExample" style="color:black; text-decoration:none;
  background-color: lightblue; padding: 1em 1em; border:1px solid black; display: flex;
     justify-content:space-between; align-items: center;"> 
  <div>
      <span style="padding: 1em 0em 0em 1em;">
        {{ forloop.counter }}.  {{ section.section_name}} 
      </span> 
      <span style="padding: 1em 0em 0em 1em; color:red;">Available to you</span>
    </div>
  </a>
  

  <!--Collapse section for each section-->
  <div class="collapse" id="collapseExample" style="padding: 0em 1em;">
    {% for module in section.has_modules.all %} <!-- modules loop started -->
    <div class="card card-body" style="border: 1px solid grey;">
    <a style="color: black; text-decoration: none; padding:0em 0.5em;" 
    href="{% url 'modules:detailmodule' course_slug=course.slug section_slug=section.slug slug=module.slug %}"> 
     {{forloop.counter}}. - {{module}} </a> 
    </div>
    {% endfor %} <!-- loop for modules in a section ended -->
  </div>
  <!--collapse section end-->
{% endfor %} <!--End of 1st for loop -->
<!--Available sections-->

  {% for section in excluded_sections %}
    <div style="background-color: lightgrey; padding:0em 1em 1em; border:1px solid black; display: flex;
     justify-content:space-between; align-items: center;">
      <span style="padding: 1em 0em 0em 1em;">
        {{ forloop.counter }}.  {{ section.section_name }} 
      </span>
      <span style="padding: 1em 0em 0em 1em; color:red;">Not Available</span>
      <!-- {% comment %} {% if user.teacher.name == course.made_by_teacher.name %}
      <span style="padding: 1em 0em 0em 1em;">
        <a class="btn btn-outline-danger" href="{% url 'sections:deletesection' slug=section.slug %}">
          Delete Section
        </a>
        <a class="btn btn-outline-primary" href="">
          Update Section
        </a>
      </span>
      {% endif %} {% endcomment %} -->
    </div>
  {% endfor%} <!--end of second loop--> 
  <!--Not Available sections (ended) -->




  
{% else %} <!--If user has not taken the course (2) -->

   {% for section in sections %}
     <div style="background-color: lightgrey; padding:0em 1em 1em; border:1px solid black; display: flex;
      justify-content:space-between; align-items: center;">
       <span style="padding: 1em 0em 0em 1em;">
         {{ forloop.counter }}.  {{ section.section_name }} 
       </span>
      {% if user.teacher.name == course.made_by_teacher.name %}
      <span style="padding: 1em 0em 0em 1em;">
        <a class="btn btn-outline-danger" href="{% url 'sections:deletesection' slug=section.slug %}">
          Delete Section
        </a>
        <a class="btn btn-outline-primary" href="">
          Update Section
        </a>
      </span>
      {% endif %}
    </div>
    {% endfor%} <!--end of second loop-->

{% endif %} 
 <!--end of if-else of (student has taken course or not) (2)-->

{% else %} <!-- If user is not (authenticated-student) (1) -->
   
<!-- If user is a teacher that has made the coures -->
{% if user.teacher.name == course.made_by_teacher.name %}
   {% for section in sections %}
      <div style="color:black; text-decoration:none;
         background-color: lightblue; padding: 1em 1em; border:1px solid black; display: flex;
         justify-content:space-between; align-items: center;"> 
          <button data-bs-toggle="collapse"  class="accordion-button" data-bs-target="#collapseExample{{ forloop.counter }}"
           aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}." style="width: 25em; padding:0.5em 1em;">
              <span style="padding: 1em 0.5em 0.5em 1em; margin: auto 0px; ">
                  {{ forloop.counter }}.  {{ section.section_name}} 
              </span> 
          </button>
          <span style="padding: 0em 1em;">
            <a class="btn btn-outline-danger" href="{% url 'sections:deletesection' slug=section.slug %}">
              <img src="{% static 'sections/photos/delete.png' %}" style="width: 1.2em;">
            </a>
            <a class="btn btn-outline-light" 
            href="{% url 'sections:updatesection' course_slug=course.slug section_slug=section.slug %}">
              <img src="{% static 'sections/photos/edit.png' %}" style="width: 1.2em;">
            </a>
            <a class="btn btn-outline-dark" href="{% url 'modules:createmodule' course_slug=course.slug section_slug=section.slug %}">
              Add Module
            </a>
          </span>
        </div>

        <!--Collapse section for each section-->
        <div class="collapse" id="collapseExample{{forloop.counter}}" style="padding: 0em 1em;">
           {% for module in section.has_modules.all %}
              <div style=" padding:0.7em 0.5em; border: 1px solid grey;">
                <a style="color: black; text-decoration: none; padding:0em 0.5em;" 
                href="{% url 'modules:detailmodule' course_slug=course.slug section_slug=section.slug slug=module.slug %}"> 
                  <span>
                   {{forloop.counter}}. - {{module}} module
                  </span> 
                </a>
                <span>
                  <a class="btn btn-outline-primary" href="">
                    Update
                  </a>
                  <a class="btn btn-outline-danger" href="">
                    Delete
                  </a>
                <span>
              </div>
           {% endfor %} <!-- End of modules loop -->
        </div>
        <!--collapse section end-->
      {% endfor %}

{% else %} <!--If the person is not a teacher who has made the course -->
   {% for section in sections %}
     <div style="background-color: lightgrey; padding:0em 1em 1em; border:1px solid black; 
                 display: flex; justify-content:space-between; align-items: center;">
          <span style="padding: 1em 0em 0em 1em;">
            {{ forloop.counter }}.  {{ section.section_name }} 
          </span>
     </div>
   {% endfor%} <!--end of second loop-->  
{% endif %}<!-- end of this condition (to check for teacher)-->

{% endif %} 
 <!-- end of if-else for if user is not (authenticated-student) (1) -->

  </div>
</div>

<script src="{% static 'accounts/js/bootstrap.bundle.min.js' %}"></script>
 

{% endblock content %}
