{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-Learning Platform</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<!-- Nav bar start-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">AIEducation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Courses</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="">My Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">My Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">{{user.username}}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:teachersignup' %}">Register to Teach</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:studentsignup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

<!--Nav bar end-->

    {% block content %}
    <!-- {% comment %} Override your content here {% endcomment %} -->
    {% endblock content %}
    
    <script src="{% static 'js/index.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>