<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>E-Learning Website</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="footer.css">
	
    <footer>
		<div class="footer-container">
			<div class="left-col">
				<div class="social-media">
					<a href="#"><img src="fb.png"></a>
					<a href="#"><img src="insta.png"></a>
					<a href="#"><img src="tt.png"></a>
					<a href="#"><img src="linkedin.png"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2024 Created By Sahil, Faizan, Ayan and Ahsan. All Rights Reserved.</p>
				<br><p><img src="location.png"> Trinity College of Engineering and Research<br>Pune-411048</p><br>
				<p><img src="phone.png"> +91-1234-567-890<br><img src="mail.png">&nbsp; slapture02@gmail.com</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Teach at our Website</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to teach here.</p>
				<form class="register-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>


</body>
</html>