{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="{% static 'base/index_script.js' %}"></script>

<!-- Styling done in accounts.css file -->
<div style="position: absolute; z-index: -100; right:0em; background-color: black;">
    <img  style="width: 25em;" src="{% static 'accounts/photos/home_bg3.jpg' %}" alt="">
</div>

<div class="row home-base-row">
    <div class="col-lg-3">
        <div class="home-robot" style="width: fit-content;">
        <a style="text-decoration: none; color: black;" href="{% url 'about' %}">
        <div id="rbt-text" class="rbt-text"> Need more info? </div>
        <img id="home-robot1" style="width: 10em;" src="{% static 'accounts/photos/robot_homer.png' %}" alt="">
        </a></div>
    </div>
    <div class="col-lg-6" style="text-align: center;">
        <h1 class="home-heading">AI Enhanced Learning Experience</h1>
        <br>
        <h2 style="font-size: 1.5em;">Achieve your learning goals effortlessly with customizable paces and personalized 
            revision plans. Join us in shaping the future of education. Start your journey today!</h2>
            <br>       
            <div style="display: flex; flex-direction: row; justify-content:center;">

                <a style="text-decoration: none; color: white;" href="{% url 'courses:allcourseslist' %}">
                <button class="butn1">
                   <h4> Start Learning</h4>
                </button> </a>
                {% if user.is_authenticated %}
                <a style="text-decoration: none; color: white;" href="{% url 'accounts:logout' %}">
                    <button class="butn">
                       <h4> Logout</h4>
                    </button></a>
                {% else %}
                <a style="text-decoration: none; color: white;" href="{% url 'accounts:login' %}">
                    <button class="butn">
                       <h4> Login</h4>
                    </button></a>
                {% endif %}
                
            </div> 
    </div>
    <div class="col-lg-3">
       
    </div>
</div>

<div>
    <img style="width: 100%; height: 8em;" src="{% static 'accounts/photos/flow3.gif' %}" alt="">
</div>



<!-- home page design -->
<!-- first row of the description-->
<div class="all-info-rows" style="padding: 0em 2em;"> 

<div class="row info-row" >
    <div class="col-lg-6" style="padding: 1em 4em; align-items: center; display: flex; 
    flex-direction: column; justify-content: center;">
       <div class="infomation-div" > <h2>Personalized Periodic Test</h2>
        <p style="font-size: 1.2em; text-align: justify; justify-content: space-evenly;">
            Customized assessments matching your pace and proficiency. 
            Tailored questions, formats, and weekly tests align with your goals, 
            ensuring targeted learning and progress.
        </p></div>
    </div>
    <div class="col-lg-6" style="padding: 3em; align-items: center;">
        <img class="img-width" src="{% static 'photos/test.png' %}" alt="">
        
    </div>
</div>
    <!-- [1] First row ended -->

    <!-- [2] Second row ended -->
    <div class="row info-row1" >
        <div class="col-lg-6" style="padding: 1em 4em; align-items: center; display: flex; 
        flex-direction: column; justify-content: center;">
        <img class="img-width" src="{% static 'photos/feedback.png' %}" alt=""> 
        </div>
        <div class="col-lg-6" style="padding: 3em; align-items: center;
        align-items: center; display: flex; flex-direction: column; justify-content: center;">
            <div class="infomation-div2" > <h2>Immediate Feedback Mechanism</h2>
                <p style="font-size: 1.2em; text-align: justify; justify-content: space-evenly;">
                    Real-time insights, powered by AI. Instant NLP feedback and personalized recommendations,
                     directly from your test results. Elevate your learning with AI-driven feedback, 
                     delivered seamlessly through our website.
                </p></div>
        </div>
    </div>
    <!-- [2] end of the second row-->


    <!--[3] third row started -->
    <div class="row info-row" >
        <div class="col-lg-6" style="padding: 1em 4em; align-items: center; display: flex; 
        flex-direction: column; justify-content: center;">
           <div class="infomation-div" > <h2>Learn Effeciently with Adaptive Deadline Management</h2>
            <p style="font-size: 1.2em; text-align: justify; justify-content: space-evenly;">
                Navigate your learning path with precision. Harnessing predictive analytics and adaptive 
                learning powered by machine learning, we personalize your journey, ensuring timely 
                success through tailored suggestions and real-time adjustments. 
            </p></div>
        </div>
        <div class="col-lg-6" style="padding: 3em; align-items: center;">
            <img class="img-width" src="{% static 'photos/adaptive.png' %}" alt="">
            
        </div>
    </div>
    <!-- [3] third row ended -->
</div>
<!-- End of the information rows section -->    

<!--Start of the second last section-->
<div style="padding:2em 0em;"></div>
<div class="row parallax-section" style="margin: 0%; justify-content: center; 
background:linear-gradient(to bottom right, rgb(84, 84, 84),black); padding: 8em 0em;">
    
    <div class="col-lg-7" >
        <div class="parallax-effect">
            <h3 style="color: white; text-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.543);">
                Transform your learning with AI assistance. <br>
                  Start your journey today! 
            </h3><br>     
            <a href="{% url 'accounts:studentsignup' %}" class="signup-button">
                <span style="color: white"> Sign Up</span> 
            </a> 
        </div>
    </div>

</div>
<!--end of the last section-->

















<!-- javascript starts here -->
<script>
const cardc = document.querySelectorAll('.row.info-row');
const cardw = document.getElementsByClassName('info-row')
console.log(cardc) 

cardc.forEach(entry =>{
        console.log(entry)
        })

const options = {
    root: null, // Use the viewport as the root
    rootMargin: '-100px', // No margin around the root
    threshold: 1 // Trigger when 50% of the element is visible
  };

const observer = new IntersectionObserver(enteries =>{
    enteries.forEach(entry=>{
        if (entry.isIntersecting) {
            // console.log("hello this is entry" ,entry)
            entry.target.classList.add('centered');
            // Unobserve the target element to stop further callbacks
            // observer.unobserve(entry.target);
        } 
        else{
        }
    }),{
        threshold: 1
    }
})


cardc.forEach(cardy =>{
    observer.observe(cardy)
})

var cardn = document.querySelectorAll('.row.info-row1');
cardn.forEach(cardy =>{
    observer.observe(cardy)
})



</script>



















<!--
{% if user.is_authenticated and user.teacher.is_type == 'teacher' and user.teacher.is_verified == True %}
    <h2> This is a teacher signed in and verified </h2>
{% elif user.is_authenticated and user.teacher.is_type == 'teacher' and user.teacher.is_verified == False %}
    <h2>This is a teacher signed in but not verified </h2>
{% else %}
    {% if user.is_authenticated and user.student.is_type == 'student' %}
        <h2> This is a student signed in </h2>
    {% elif user.is_authenticated == True and user.is_superuser %}
        <h2>The admin is signed in</h2> 
        {{user.student.is_type}}
    {% else %}
        <h2>You are not signed in </h2>
    {% endif %}
{% endif %}


<div class="hello">
        This is the html view to check if the project is working properly
       </div>
        <br>
        <button id="clicker" class="btn btn-dark">
            Click me
        </button>
        <br><br><div id="bye"></div>
        
    {{hello}} <br><br>
    <form action="{% url 'djangocontent' %}">
        <button class="btn btn-outline-secondary" onclick="myfunction()" type='submit' > click here to get data form django dynamically </button>
        </form>
    
        <br> 
        {{djangoboy}}
        <hr>
    
        <br>
        <form action="{% url 'djangoemail' %}">
            <button  class="btn btn-outline-success" type='submit' > click here to send email </button>
        </form>
        <br>
        {{email}}<hr><br>
        <br> Email with attachment
        <a href="{% url 'emailattachment' %}" class="btn btn-warning">
            send email with attachment!
        </a>
        <br> {{attachment}}
</div> 
-->
    
 <script src="{% static 'js/boot/bootstrap.min.js' %}"></script>
<script src="{% static 'js/boot/popper.min.js' %}"></script>

<script src="{% static 'accounts/js/index.js' %}"></script>

{% endblock content %}
    